@using TodoApp.Models;
@model IEnumerable<Todo>;

@{
    ViewData["Title"] = "Todo List";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="my-0">Your Todo List</h1>
        <a asp-action="Create" class="btn btn-primary">+ New Todo</a>
    </div>
    <table class="table table-striped">
        <thead class="table-light">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Model)
            {
                <tr>
                    <td>@todo.Title</td>
                    <td>@todo.Description</td>
                    <td>
                        @if (todo.IsCompleted)
                        {
                            <span class="badge bg-success">Yes</span>
                        }
                        else
                        {
                            <span class="badge bg-warning text-dark">No</span>
                        }
                    </td>
                    <td>@todo.CreatedAt.ToString("g")</td>
                    <td class="">
                        @* mark as completed *@
                        @if (!todo.IsCompleted)
                        {
                            <form asp-action="MarkComplete" asp-route-id="@todo.Id" method="post" class="d-inline me-2">
                                <button type="submit" class="btn btn-sm btn-success" title="Mark as Complete">✅</button>
                            </form>
                        }
                        <a title="Edit" asp-action="Edit" asp-route-id="@todo.Id" class="btn btn-sm btn-secondary me-2">🖋️</a>
                        <form asp-action="Delete" asp-route-id="@todo.Id" method="post" class="d-inline">
                            <button
                                title="Delete"
                                type="submit" 
                                class="btn btn-sm btn-danger"
                                onclick="return confirm('Are you sure you want to delete this todo?');"
                            >
                            🚮
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>